<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
</head>
<body>
    <h1>Bienvenidos al Curso de Django (Desarrollo Web)</h1>
    <h2>¡Estamos emocionados de tenerte aquí!</h2>
    <h3>En este curso, aprenderás a desarrollar aplicaciones web utilizando el framework Django. A lo largo de las lecciones, cubriremos los siguientes temas:</h3>

    <h4>Temas del Curso:</h4>
</body>
</html>