{% extends "miapp/base.html" %}

{% block title %}Lista de Cursos{% endblock %}

{% block content %}
    <h1>Lista de Cursos</h1>

    <h3>Cursos:</h3>

    <table style="border:2px solid black; border-collapse: collapse;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Inscriptos</th>
                <th>Profesor</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for c in cursos %}
                <tr>
                    <td>{{ c.id }}</td>
                    <td>{{ c.nombre }}</td>
                    <td>{{ c.inscriptos }}</td>
                    <td>{{ c.profesor }}</td>
                    <td>{{ c.email }}</td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}