{% extends "miapp/base.html" %}

{% block title %}Nuevo Curso{% endblock %}

{% block content %}
    <h1>Nuevo Curso</h1> 
    <form method="post">
        {% csrf_token %}
        <table style="border:2px solid black; border-collapse: collapse;">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Crear Curso">    
    </form>

    <a href="{% url 'allcursos' %}">Ver todos los cursos</a>
{% endblock %}
{% block footer %}
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2026 Copyright:
            <a class="text-white" href="https://www.linkedin.com/in/norman-beltran/">By EducacionIT</a>
        </div>          
{% endblock footer %}