{% extends "miapp/base.html" %}

{% block title %}Curso{% endblock %}

{% block content %}
    <table style="border:2px solid black; border-collapse: collapse;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Inscriptos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ curso.0 }}</td>
                <td>{{ curso.1 }}</td>
                <td>{{ curso.2 }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}